# Public values only. Never place a private key or seed phrase in this file.
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=replace_with_your_reown_project_id
NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_ICFT_ADDRESS=0x06671cEafEa42fd9Fe97A8D736Ae8e4bA0C4A2a4
NEXT_PUBLIC_PRICE_ORACLE_ADDRESS=0x93CA63721859760c3688AddB3e61dfE2B1a4bE56
NEXT_PUBLIC_RISK_ENGINE_ADDRESS=0x1FD24725fDF3E0e455dFc76B2Ec4fe0b6fA5f812
NEXT_PUBLIC_INTEREST_RATE_MODEL_ADDRESS=0xE5B9d722D92b297e4766407646bA6744C5290b0E
NEXT_PUBLIC_LENDING_POOL_ADDRESS=0x0F7933DC1FD07473e187dd5F278Bbdf10D73ECec
NEXT_PUBLIC_LIQUIDITY_VAULT_ADDRESS=0x5C295102D50d64A01e7f0531db48a5C4487B389E
NEXT_PUBLIC_WBTC_ADDRESS=0x29f2D40B0605204364af54EC677bD022dA425d03
NEXT_PUBLIC_WSTETH_ADDRESS=0xB82381A3fBD3FaFA77B3a7bE693342618240067b
