NEXT_PUBLIC_SITE_URL=https://icftprotocol.vercel.app
NEXT_PUBLIC_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=...
NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_ICFT_ADDRESS=0xd3607F62dE598546e11f2C7bA8f3fDE042F652fa
NEXT_PUBLIC_PRICE_ORACLE_ADDRESS=0x59DD43D580A4aeBE84FdE44E748DB7F9CdA905a4
NEXT_PUBLIC_RISK_ENGINE_ADDRESS=0x5165b90893fAa2647cA29DbE46c4969780cA0bcC
NEXT_PUBLIC_INTEREST_RATE_MODEL_ADDRESS=0xFe6DcaE198d0E66eC32A6d8Cac36a4f232d35feC
NEXT_PUBLIC_LENDING_POOL_ADDRESS=0xAA34c13F7932eBb77dA286F35Dc95aA13CD7626A
NEXT_PUBLIC_WBTC_ADDRESS=0x29f2D40B0605204364af54EC677bD022dA425d03
